.banner {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.banner > div {
  height: clamp(200px, 30vh, 300px);
}

.banner > h2 {
  font-size: 3rem;
  left: 50%;
  position: absolute;
  text-shadow: 2px 2px var(--clr-primary);
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
