.header { margin-block: 1rem; }

.headerTop {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.searcherContainer {
  height: 2.25em;
  max-width: 400px;
  width: 100%;
  min-width: 100px;
}

@media (min-width: 1290px) {
  .searcherContainer {
    transform: translateX(25%);
  }
}

.nav_ul {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

@media (max-width: 425px) {
  .nav_ul {
    display: none;
  }
}

.searcher {
  background-color: var(--clr-secondary);
  display: flex;
  height: 100%;
  max-width: 100%;
  width: 100%;
}

.searcher > * {
  background: var(--clr-secondary);
  border: none;
  font-size: 1rem;
  height: 100%;
  padding-inline: 1em;
}

.searchButton { cursor: pointer; }
.searchButton:hover,
.searchButton:active {
  filter: brightness(80%);
}

.searchInput { 
  display: block;
  outline: none;
  width: 100%;
  padding: .5em .75em;
}
.searchInput:focus { border: 1px solid rgba(0, 0, 0, .1); }

@media (max-width: 920px) {
  .loginContainer {
    order: 1;
  }
  .searcherContainer {
    order: 2;
    width: 100%;
    justify-self: center;
  }
}

.loginContainer {
  align-items: center;
  display: flex;
  gap: 1rem;
}
