.card {
  align-items: center;
  box-shadow: 0 0 15px -2px var(--clr-secondary);
  border-radius: .5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
  padding: 1em;
}

.card p,
.card h3 {
  display: -webkit-box;  
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card__titleContainer {
  align-items: center;
  display: flex;
  height: 3.5rem;
}

.card__itemTitle {
  height: fit-content;
  -webkit-line-clamp: 2;
}

.card__itemDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card__itemDescription p {
  font-size: .9rem;
  -webkit-line-clamp: 4;
}

.card__imageContainer {
  margin-block: 1rem;
  text-align: center;
}

.card__itemImage {
  object-fit: contain;
}

.card__price {
  margin-block: 1em;
}